@import "src/assets/styles/styles";

.icon {
  flex: 0 0 24px;
}
.label {
  flex: 0 1 100%;
}
.button {
  transition: background-color ease 500ms;
}


.gesture {
  background-color: white !important;
}
