---
import {listDojos, loadDojoDetails} from "../../data/dojos";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Header from "../../components/astro/Header.astro";
import {Chooser} from "../../components/solid/Chooser";
export async function getStaticPaths() {
    const dojos = await listDojos()
    return dojos.map(dojo => {
        return { params: { dojoId: dojo.id }}
    })
}

const id = Astro.params.dojoId
const dojoDetails = await loadDojoDetails(id)

---
<DefaultLayout>
    <Header slot="header"/>

    <p>Welche Prüfungen möchtest du einbeziehen?</p>

    <Chooser dojo={dojoDetails} client:load />

    Quelle: <a href={dojoDetails.sourceLink}">{dojoDetails.sourceLink}</a>
</DefaultLayout>

