---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { Donations } from "@/components/solid/molecules/Donations";
---

<DefaultLayout>
  <h2>Unterstütze dieses Projekt</h2>

  <p>
    Mittlerweile habe ich eine Menge Freizeit in diese App investiert. Falls sie dir geholfen hat deine Prüfung zu
    bestehen, würde ich mich über eine kleine Spenden freuen.
  </p>
  <p class="italic m-8">Bezahle mich nicht für die Inhalte der Videos. Ich habe sie nicht erstellt.</p>

  <p>Es ist aber auch OK, wenn du nichts gibst. Ich habe diese App vor allem für mich selbst geschrieben.</p>

  <p>Ich habe noch Ideen für neue Features, zum Beispiel, die ich eher umsetzen werde, wenn ich merke, dass diese App
  einen Mehrwert für Menschen bietet:</p>
  <ul>
    <li>Offline-Support</li>
    <li>Integration von Videos aus dem <a href="http://www.aikido-kompendium.de/">Aikido-Kompendium</a></li>
  </ul>

  <div class="py-4">
    <Donations />
  </div>
</DefaultLayout>
