@import "src/assets/styles/styles";

.techniquePart {
}

.execution {
  font-size: 1.5rem;
}

.techniqueParts {
  font-size: 2rem;
  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}
