@import "src/assets/styles/styles.scss";

.reader {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 10rem 20rem 6rem;

  grid-gap: 0.5rem;

  grid-template-areas:
    "back  play repeat forward"
    "technique technique technique technique"
    "hand hand hand hand";

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 3rem 10rem 10rem 6rem;

    grid-template-areas:
      "back forward technique"
      "play play technique"
      "repeat repeat technique"
      "hand hand hand";
  }
}

.backButton {
  grid-area: back;
  &:disabled {
    opacity: 0.5;
  }
}

.forwardButton {
  grid-area: forward;
  &:disabled {
    opacity: 0.5;
  }
}

.repeatButton {
  grid-area: repeat;
  font-size: 2rem;

  &:disabled {
    opacity: 0.5;
  }
}

.stopPlayButton {
  grid-area: play;
  font-size: 2rem;

  &:disabled {
    opacity: 0.5;
  }
}

.handGestures {
  grid-area: hand;
}

.techniqueDisplay {
  grid-area: technique;
  height: 100%;
}
