---
import { IconGithub } from "@/icons";
---

<div class="md:h-full bg-secondary-light">
  <div class="container md:flex gap-8 items-center md:h-full">
    <div>© 2024 Nils Knappmeier</div>
    <a class="text-primary-dark underline-offset-3 hover:underline" href="/legal">Impressum / Datenschutz</a>
    <div class="flex-auto" />
    <a href="https://github.com/nknapp/aikido-exam" title="Github repository"><IconGithub /></a>
  </div>
</div>
