---
import Brand from "./header/Brand.astro";
import LocaleSwitcher from "./LocaleSwitcher.astro";
---

<div class="h-full border-b-1 border border-primary-light">
  <div class="container flex justify-between items-center h-full">
    <Brand />
    <LocaleSwitcher />
  </div>
</div>
