---
export interface Props {
    href: string
}
const props=Astro.props

---
<a href={props.href} class="flex gap-2 items-center border-primary border p-2 rounded hover:bg-secondary-light hover:no-underline">
    <slot/>
</a>