---
import logo from "@/assets/logo.svg?url"
import {t} from "@/i18n"
---

<a class="flex items-center gap-2 font-bold !no-underline"  href="/">
    <img class="h-8" alt="Logo" src={logo}/> {t("app.title")}
</a>