@import "src/assets/styles/styles-include";

.autoplay {
    position: relative;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 0;
    transition: width 0.5s linear;
    background-color: $primary;
    border-radius: 5px;
}

.progressLabel {
    position: absolute;
    bottom: 2px;
    left: 5px;
    font-size: 10px;
    line-height: 100%;
    z-index: 20;
    white-space: nowrap;
    overflow: hidden;
}