---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1>Impressum</h1>
  <p>Verantwortlich für Inhalte laut § 5 TMG ist:</p>
  <canvas id="impress"></canvas>
  <h1>Datenschutz / Cookies</h1>
  <p>
    Diese Seite verwendet keine Cookies um Benutzer zu tracken. Ich verwende <a href="https://plausible.io"
      >plausible.io</a
    > um die Benutzung zu tracken. Plausible verwendet keine Cookies und sammelt keine persönlichen Daten.
  </p>
  <ul>
    <li>
      <a href="https://plausible.io/privacy-focused-web-analytics">Blog-Post</a> über die Datenschutz-Richtlinien von Plausible.
    </li>
    <li>
      <a href="https://plausible.io/aikido-exam.knappi.org/">Das Tracking-Dashboard</a> zeigt, welche Daten gesammelt werden.
    </li>
  </ul>

  <h2>GitHub Pages</h2>

  <p>
    Diese Webseite wird auf GitHub Pages gehosted. Es kann sein, dass GitHub persönliche Informationen von Besuchern
    dieser Webseite sammelt, einschließlich der IP-Adress von Besuchern, um gesetzliche Auflagen zu erfüllen und um die
    Sicherheit und Integrität diese Webseite zu gewährleisten. Für mehr Informationen lies das <a
      href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement"
      >GitHub Privacy Statement</a
    >
  </p>

  <script>
    import { createImpress } from "@/utils/impressed";

    const canvas = document.getElementById("impress") as HTMLCanvasElement;
    createImpress(canvas);
  </script>
</DefaultLayout>
