h1 {
  @apply text-2xl mb-4 mt-6 print:mt-0
}

h2 {
  @apply text-xl mb-3 mt-4
}

p {
  @apply mb-4
}

a {
  @apply text-primary-dark hover:underline underline-offset-2
}

ul {
  @apply list-disc ml-8
}

html {
 overflow: scroll;
}


@media print {
  .container {
    max-width: none;
    padding: 0;
  }

  @page {
    margin: 2cm;
  }
}
