---
import "@/assets/styles/styles.scss";
import { cls } from "../core/utils/cls";

export interface Props {
  title: string;
  fillScreen?: boolean;
}

const language = Astro.currentLocale;

const props = Astro.props;
const slots = Astro.slots;

const headerHeight = slots.has("header") ? "48px" : "0px";
const footerHeight = "48px";
---

<html lang={language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{props.title}</title>
    <script defer data-domain="aikido-exam.knappi.org" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class={cls(props.fillScreen && "fillScreen")}>
    <header>
      <slot name="header" />
    </header>
    <main class={"container pt-4 pb-4 print:pb-0 print:pt-0"}>
      <slot />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
<style define:vars={{ headerHeight, footerHeight }}>
  body {
    overflow-y: scroll;
  }

  body.fillScreen {
    overflow-y: hidden;
  }

  header {
    height: var(--headerHeight);
  }

  main {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  }

  body.fillScreen main {
    height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  }

  footer {
    height: var(--footerHeight);
  }

  @media print {
    header {
      display: none;
    }

    main {
      min-height: auto;
    }

    footer {
      display: none;
    }
  }
</style>
