---

import Footer from "../components/astro/Footer.astro";---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
    <a href="#">Home</a>
    <a href="#">Posts</a>
    <a href="#">Contact</a>
</nav>
<main class="container mx-auto">
    <slot />
</main>
<Footer />
</body>
</html>