---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { Alert } from "@/components/solid/atoms/Alert";
import { YoutubeActivator } from "@/components/solid/atoms/YoutubeActivator";

const lastUpdate = new Intl.DateTimeFormat("de-DE", {
  dateStyle: "short",
  timeStyle: "short",
}).format(new Date(process.env.VITE_BUILD_DATE));
---

<DefaultLayout>
  <h2>Impressum</h2>
  <p>Verantwortlich für Inhalte laut § 5 TMG ist:</p>
  <canvas id="impress"></canvas>
  <h1>Datenschutz / Cookies</h1>
  <p>
    Diese Seite verwendet keine Cookies um Benutzer zu tracken. Ich verwende <a href="https://plausible.io"
      >plausible.io</a
    > um die Benutzung zu tracken. Plausible verwendet keine Cookies und sammelt keine persönlichen Daten.
  </p>
  <ul>
    <li>
      <a href="https://plausible.io/privacy-focused-web-analytics">Blog-Post</a> über die Datenschutz-Richtlinien von Plausible.
    </li>
    <li>
      <a href="https://plausible.io/aikido-exam.knappi.org/">Das Tracking-Dashboard</a> zeigt, welche Daten gesammelt werden.
    </li>
  </ul>

  <h2>GitHub Pages</h2>

  <p>
    Diese Webseite wird auf GitHub Pages gehosted. Es kann sein, dass GitHub persönliche Informationen von Besuchern
    dieser Webseite sammelt, einschließlich der IP-Adress von Besuchern, um gesetzliche Auflagen zu erfüllen und um die
    Sicherheit und Integrität diese Webseite zu gewährleisten. Für mehr Informationen lies das <a
      href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement"
      >GitHub Privacy Statement</a
    >
  </p>

  <h2>QR-Codes</h2>

  <p>
    QR-Codes werden mit Hilfe der API von goqr.me erzeugt. (<a href="https://goqr.me/de/api/doc/create-qr-code/"
      >Nutzungsbedindungen siehe hier</a
    >)
  </p>

  <h2>Source-Code / Fehler</h2>

  <p>
    Der Quell-Code dieser App ist auf GitHub gehostet, unter
    <a href="https://github.com/nknapp/aikido-exam" title="Github repository">https://github.com/nknapp/aikido-exam</a>
    Bugs können dort als Issue geöffnet werden. Falls Ihr Github nicht benutzen möchtet, könnt ihr mir eine Mail schreiben.
    Bitte <strong>seht davon ab</strong>, mich wegen Fehlern anzurufen.
  </p>

  <h1>Experimente</h1>

  <h2>YouTube Videos</h2>

  <p>
    <b>Aikido-Prüfung</b> kann zur aktuellen Technik ein YouTube Video aus dem <a href="https://aikidokomponendium.de"
      >Aikido Kompendium</a
    > und von der <a href="https://www.aikido-schule.de/aikido/filme/">Aikido-Schule Köln</a>anzeigen.
  </p>
  <Alert type="warning">
    Wenn diese Option angeschaltet ist, werden Daten an YouTube gesendet. Siehe auch <a
      href="https://www.youtube.com/howyoutubeworks/our-commitments/protecting-user-data/#privacy-guidelines"
      >YouTubes Datenschutzrichtlinien</a
    >.
  </Alert>
  <YoutubeActivator class="my-2" client:load />
  <small>Letztes Update: {lastUpdate}</small>

  <script>
    import { createImpress } from "@/utils/impressed";

    const canvas = document.getElementById("impress") as HTMLCanvasElement;
    createImpress(canvas);
  </script>
</DefaultLayout>
